.wrapper {
  display: flex;
  justify-content: space-between;
}
.controls {
  display: flex;
  flex-direction: column;
}
.preview {
  max-width: 80%;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid var(--cf-border-color);
  }
}

p {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  span {
    color: var(--cf-err-color);
    font-size: .8em;
    margin-left: 10px;
  }
}
