<form [formGroup]="form" class="cf-form">
  <fieldset>

    <ng-container *ngIf="type!== 'repeater'">
      <cf-value-form
        [field]="field"
        [formControlName]="field.conditions.name">
      </cf-value-form>
    </ng-container>

    <ng-container *ngIf="type === 'repeater'">
      <label>{{field.conditions.label}}</label>

      <cf-buttons-bar
        (addField)="addSubfield()"
      ></cf-buttons-bar>

      <ng-container *ngFor="let control of valueArray?.controls; index as controlIndex" [formArrayName]="field.conditions.name">
        <fieldset [formGroupName]="controlIndex">
          <cf-buttons-bar
            (removeField)="removeSubfield(controlIndex)"
          ></cf-buttons-bar>
          <ng-container *ngFor="let subfield of field.fields;">
            <cf-value-form
              *ngIf="subfield.conditions.type !== 'repeater'"
              [field]="subfield"
              [formControlName]="subfield.conditions.name">
            </cf-value-form>
            <cf-values-group-control
              *ngIf="subfield.conditions.type === 'repeater'"
              [field]="subfield"
              [formControlName]="subfield.conditions.name"
              [nesting]="nesting"
            ></cf-values-group-control>
          </ng-container>
        </fieldset>
      </ng-container>
    </ng-container>

  </fieldset>
</form>
