<form [formGroup]="form" class="cf-form">
  <fieldset>

    <ng-container *ngIf="type!== 'repeater'">
      <app-value-form
        [field]="field"
        [formControlName]="field.conditions.name">
      </app-value-form>
    </ng-container>

    <ng-container *ngIf="type === 'repeater'">
      <label>{{field.conditions.label}}</label>

      <app-buttons
        (addField)="addSubfield()"
      ></app-buttons>

      <ng-container *ngFor="let control of valueArray?.controls; index as controlIndex" [formArrayName]="field.conditions.name">
        <fieldset [formGroupName]="controlIndex">
          <ng-container *ngFor="let subfield of field.fields;" >
            <app-value-form
              *ngIf="subfield.conditions.type !== 'repeater'"
              [field]="subfield"
              [formControlName]="subfield.conditions.name">
            </app-value-form>
            <app-values-group-control
              *ngIf="subfield.conditions.type === 'repeater'"
              [field]="subfield"
              [formControlName]="subfield.conditions.name"
            ></app-values-group-control>
          </ng-container>
        </fieldset>
      </ng-container>
    </ng-container>

  </fieldset>
</form>
