<div class="cf-controls">
  <p><mat-icon *ngIf="matIcon">{{matIcon}}</mat-icon>{{title}}</p>
  <span *ngIf="showArrayControls">

    <button
      *ngIf="toggleExpanded.observers.length > 0"
      mat-icon-button
      (click)="this.toggleExpanded.emit(!this.expanded)"
      color="primary"
      title="Toggle all">
      <mat-icon>{{expanded ? 'expand_less' : 'expand_more'}}</mat-icon>
    </button>

    <button
      *ngIf="clearArray.observers.length > 0"
      mat-icon-button
      (click)="clearAllAction()"
      color="primary"
      class="remove"
      title="Delete all">
      <mat-icon>delete_sweep</mat-icon>
    </button>

     <button
       *ngIf="reorderArray.observers.length > 0"
       mat-icon-button
       (click)="reorderArray.emit()"
       [color]="reorderDisabled ? 'primary' : 'warn'"
       title="Reorder">
      <mat-icon>swap_vert</mat-icon>
    </button>

  </span>

  <button
    *ngIf="addField.observers.length > 0 && showAdd"
    mat-icon-button
    (click)="addField.emit()"
    color="primary"
    title="Add">
    <mat-icon>add</mat-icon>
  </button>

  <button
    *ngIf="removeField.observers.length > 0"
    mat-icon-button
    (click)="removeFieldAction()"
    color="primary"
    class="remove"
    title="Delete">
    <mat-icon>delete_outline</mat-icon>
  </button>


</div>

