<div class="cf-controls">
  <p><mat-icon *ngIf="matIcon">{{matIcon}}</mat-icon>{{title}}</p>
  <span *ngIf="showArrayControls">

    <button
      *ngIf="openAll.observers.length > 0"
      mat-icon-button
      (click)="openAll.emit()"
      color="primary"
      title="Expand all">
      <mat-icon>expand_more</mat-icon>
    </button>

    <button
      *ngIf="closeAll.observers.length > 0"
      mat-icon-button
      (click)="closeAll.emit()"
      color="primary"
      title="Collapse all">
      <mat-icon>expand_less</mat-icon>
    </button>

    <button
      *ngIf="clearArray.observers.length > 0"
      mat-icon-button
      (click)="clearAllAction()"
      color="warn"
      title="Clear all">
      <mat-icon>clear_all</mat-icon>
    </button>

     <button
       *ngIf="reorderArray.observers.length > 0"
       mat-icon-button
       (click)="reorderArray.emit()"
       [color]="reorderDisabled ? 'primary' : 'warn'"
       title="Reorder">
      <mat-icon>reorder</mat-icon>
    </button>

  </span>

  <button
    *ngIf="addField.observers.length > 0 && showAdd"
    mat-icon-button
    (click)="addField.emit()"
    color="primary"
    title="Add">
    <mat-icon>add</mat-icon>
  </button>

  <button
    *ngIf="removeField.observers.length > 0"
    mat-icon-button
    (click)="removeFieldAction()"
    color="primary"
    class="remove"
    title="Remove">
    <mat-icon>delete_outline</mat-icon>
  </button>


</div>

