:host {
  display: block;
}
.cf-controls {
  margin-bottom: 0;
  align-items: center;
  p {
    margin-bottom: 0;
    margin-right: auto;
    color: var(--cf-primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    mat-icon {
     margin-right: 5px;
    }
  }
}

button mat-icon {
  transition: color var(--cf-transition);
}
.remove:hover {
  color: var(--cf-err-color);
}
