<form [formGroup]="form" class="cf-form">
  <div class="cv-input" [ngClass]="{'cv-checkbox': type === 'checkbox'}" >

    <label
      [htmlFor]="id"
      [ngClass]="{'required': attrs.required}"
    >{{label}}</label>

    <ng-container *ngIf="type === 'text'">
      <input
        type="text"
        [formControlName]="name"
        [id]="id"
        [required]="attrs.required">
    </ng-container>

    <ng-container *ngIf="type === 'textarea'">
    <textarea
      [formControlName]="name"
      [id]="id"
      [rows]="attrs.rows ? attrs.rows : 3"
      [required]="attrs.required"
    ></textarea>
    </ng-container>

    <ng-container *ngIf="type === 'checkbox'">
      <input
        type="checkbox"
        [formControlName]="name"
        [id]="id"
        [required]="attrs.required">
    </ng-container>

    <ng-container *ngIf="type === 'number'">
      <input
        type="number"
        [formControlName]="name"
        [id]="id"
        [required]="attrs.required"
        [min]="attrs.min ? attrs.min : 0"
        [max]="attrs.max ? attrs.max : 524288"
        [step]="attrs.step ? attrs.step : 1">
    </ng-container>

    <ng-container *ngIf="type === 'image'">
      <cf-image-input
        [imageSrc]="form.get(name)?.value"
        [required]="attrs.required"
        (addImage)="selectImage()"
        (removeImage)="form.get(name)?.setValue('')"
      ></cf-image-input>
      <input type="text" hidden
        [formControlName]="name"
        [id]="id"
        [required]="attrs.required">
    </ng-container>

    <cf-form-validation-message
      [control]="control"
      [name]="label"
      [min]="attrs.min"
      [max]="attrs.max"
      [minlength]="attrs.minLength"
      [maxlength]="attrs.maxLength"
    ></cf-form-validation-message>

  </div>
</form>

