<form [formGroup]="form" class="cf-form">

  <div class="cv-input" [ngClass]="{'cv-checkbox': type === 'checkbox'}" >

    <ng-container *ngIf="type === 'text'">
      <input
        type="text"
        formControlName="currentValue"
        [id]="id"
        [required]="attrs.required"
        [minLength]="attrs.minLength ? attrs.minLength : 0"
        [maxLength]="attrs.maxLength ? attrs.maxLength : 524288">
    </ng-container>

    <ng-container *ngIf="type === 'textarea'">
    <textarea
      formControlName="currentValue"
      [id]="id"
      [rows]="attrs.rows ? attrs.rows : 3"
      [required]="attrs.required"
      [minLength]="attrs.minLength ? attrs.minLength : 0"
      [maxLength]="attrs.maxLength ? attrs.maxLength : 524288"
    ></textarea>
    </ng-container>

    <ng-container *ngIf="type === 'checkbox'">
      <input
        type="checkbox"
        formControlName="currentValue"
        [id]="id"
        [required]="attrs.required">
    </ng-container>

    <ng-container *ngIf="type === 'number'">
      <input
        type="number"
        formControlName="currentValue"
        [id]="id"
        [required]="attrs.required"
        [min]="attrs.min ? attrs.min : 0"
        [max]="attrs.max ? attrs.max : 524288"
        [step]="attrs.step ? attrs.step : 1">
    </ng-container>

    <label [htmlFor]="id">{{label}}</label>

  </div>

</form>

