:host {
  display: block;
  //::ng-deep ~ cf-value-form {
  //  margin-top: 15px;
  //}
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}

.cv-input {
  display: flex;
  flex-direction: column-reverse;

  &.cv-checkbox {
    flex-direction: row;
    align-items: center;
    input {
      margin-right: 5px;
    }
    label {
      margin-right: 15px;
    }
  }

}


