nav {
  text-align: center;
  padding: 10px;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 30;
  a:not(:first-child) {
    margin-left: 20px;
  }
  a.active {
    color: var(--cf-primary-color);
    font-weight: bold;
  }
}
