::ng-deep  {
  mat-accordion {
    mat-expansion-panel-header {
      background-color: var(--cf-primary-color);
      &:hover, &:focus {
        background-color: var(--cf-primary-color) !important;
      }
      .mat-expansion-indicator:after {
        color: white;
      }
    }
    .mat-expansion-panel-body {
      padding: 0 10px;
    }
  }
}

