.cf-form {
  font-family: "Roboto", sans-serif;

  &.repeater {
    > fieldset {
      background-color: var(--cf-repeater-bkg-color);
    }
  }

  fieldset {
    border: 1px solid transparent;
    margin: 10px 5px;
    border-radius: 4px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);;
  }
  legend {
    color: var(--cf-primary-color);
    font-weight: bold;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 6px;
    border-radius: 3px;
    > * {
      margin-right: 5px;
    }
  }

  .submit {
    margin-top: 15px;
    text-align: right;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    &.attributes {
      margin-bottom: 20px;
    }
    p {
      margin-top: 0;
    }
    tr {
      width: 100%;
    }
    tr > td:first-child {
      width: 40%;
    }
    tr.sub-fields {
      width: 100%;
    }
    td {
      border: 1px solid var(--cf-border-color);
    }
    td {
      padding: 5px 10px;
      input:not([type='checkbox']), select {
        width: 100%;
        padding: 5px;
        border: 1px solid var(--cf-border-color);
      }
      input[type='checkbox'] {
        width: 15px;
        height: 15px;
      }
    }
    .title {
      margin-bottom: 0;
      font-size: 13px;
      font-weight: bold;
      color: var(--cf-font-color);
      display: flex;
      align-items: center;
      &.required {
        &:after {
          content: "(required)";
          display: inline-block;
          font-size: .8em;
          font-weight: normal;
          color: var(--cf-err-color);
          margin-left: 3px;
        }
      }
    }
    .subtitle {
      margin-bottom: 0;
      font-size: 12px;
      color: var(--cf-font-ligtheen-color);
    }
  }

  .ng-invalid {
    border-color: var(--cf-err-color)!important;
    outline-color: var(--cf-err-color)!important;
  }
}
