.cf-wrapper {
  display: flex;
  justify-content: space-between;

  fieldset {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 100%;
    border: none;
    border-left: 4px solid transparent;
    margin: 10px 5px;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: border-color var(--cf-transition);
    background-color: white;
    &.ng-invalid {
      //border-color: var(--cf-err-color);
    }
  }

  legend {
    color: var(--cf-primary-color);
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 6px;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 2px 2px 2px -2px rgb(0 0 0 / 40%);

    > * {
      margin-right: 5px;
    }
  }

  .cf-root-form {
    width: 100%;
    transition: width .1s;
    > fieldset > legend {
      font-size: 14px;
      font-weight: bold;
    }
  }
  .cf-json {
    width: 0;
    transition: width .1s;
    display: none;
    pre {
      font-size: 11px;
      line-height: 1.1em;
    }
  }
  &.show-json {
    .cf-root-form {
      width: 60%;
    }
    .cf-json {
      width: 40%;
      display: initial;
    }
  }
  mat-accordion {
    mat-expansion-panel-header {
      background-color: var(--cf-primary-color);
      &:hover, &:focus {
        background-color: var(--cf-primary-color) !important;
      }
      .mat-expansion-indicator:after {
        color: white;
      }
    }
    .mat-expansion-panel-body {
      padding: 0 10px;
    }
  }
}

