.cf-form {
  font-family: "Roboto", sans-serif;

  &.repeater {
    > fieldset {
      background-color: var(--cf-repeater-bkg-color);
    }
  }

  input:not([type='checkbox']), select {
    width: 100%;
    padding: 3px;
    border: 1px solid var(--cf-border-color);
  }
  input[type='checkbox'] {
    width: 15px;
    height: 15px;
  }

  table {
    caption {
      text-align: left;
      color: var(--cf-primary-color);
      font-size: 13px;
      font-weight: bold;
      padding: 0 3px;
    }
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
    p {
      margin-top: 0;
    }
    tr {
      width: 100%;
    }
    tr > td:first-child {
      width: 40%;
    }
    tr.sub-fields {
      width: 100%;
    }
    td {
      border: 1px solid var(--cf-border-color);
    }
    td {
      padding: 5px 7px;
    }
    .title {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 1.2em;
      font-weight: bold;
      color: var(--cf-font-color);
      display: flex;
      align-items: center;
      &.required {
        &:after {
          content: "(required)";
          display: inline-block;
          font-size: .8em;
          font-weight: normal;
          color: var(--cf-err-color);
          margin-left: 3px;
        }
      }
    }
    .subtitle {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.1em;
      color: var(--cf-font-ligtheen-color);
    }
  }

  input.ng-invalid {
    border-color: var(--cf-err-color)!important;
    outline-color: var(--cf-err-color)!important;
    + label {
      //color: var(--cf-err-color);
    }
  }


  label {
    display: flex;
    align-items: center;
    &.required:after {
      content: "*";
      margin-left: 5px;
      font-size: .8em;
      color: var(--cf-err-color) !important;
    }
  }

}
