:root {
  --cf-primary-color: #3f51b5;
  --cf-err-color: #ea0202;
  --cf-sucs-color: #078407;
  --cf-warn-color: #fca506;
  --cf-font-color: #000000;
  --cf-font-ligtheen-color: #868585;
  --cf-label-color: #000000;
  --cf-border-color: #999696;
  --cf-transition: .25s;
}
