<div class="cf-wrapper" [ngClass]="{'show-json': view.jsonVisible$ | async}">

  <form [formGroup]="form" class="cf-form cf-root-form">
    <fieldset>
      <legend><mat-icon>extension</mat-icon>Custom Values Form</legend>

      <div class="cf-controls">
        <cf-toggle-button></cf-toggle-button>
      </div>

      <ng-container >
        <ng-container *ngFor="let field of customFields.fields; index as i">
          <cf-values-group-control
            [formControlName]="field.conditions.name"
            [field]="field"
            [nesting]="nesting"
            (onImageSelect)="onImageSelect.emit($event)"
          ></cf-values-group-control>
        </ng-container>
      </ng-container>

      <cf-submit-button
        (submitHandler)="submit()"
        [disabled]="form.invalid"
      >Submit</cf-submit-button>

    </fieldset>
  </form>

  <div *ngIf="view.jsonVisible$ | async" class="cf-json">
    <fieldset>
      <legend><mat-icon>code</mat-icon>Json view</legend>
      <pre>{{form.value | json}}</pre>
    </fieldset>
  </div>

</div>




