<form [formGroup]="form">
  <fieldset>
    <legend>{{type | fieldName}}</legend>
      <div class="cf-controls">
        <button *ngIf="type === 'repeater'" mat-icon-button (click)="addField()" color="primary" title="Add field">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="remove.emit()" color="warn" title="Remove field">
          <mat-icon>clear</mat-icon>
        </button>
      </div>

      <app-field-form
        [formControlName]="'conditions'"
      ></app-field-form>

      <mat-accordion formArrayName="fields" [multi]="true">
        <mat-expansion-panel *ngFor="let control of fieldsFormArray?.controls; index as i" [expanded]="true">
          <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'50px'">
            <mat-panel-title>
              <app-field-title [number]="i + 1" ></app-field-title>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-group-control
            (remove)="deleteFieldFromArray(i)"
            [formControlName]="i"
            [formLabel]="'Nested Field '+ (i + 1) + ':'"
          ></app-group-control>
        </mat-expansion-panel>
      </mat-accordion>

  </fieldset>
</form>


