<form [formGroup]="_form">
  <fieldset>
    <legend>{{formLabel}}</legend>
    <div>

      <app-buttons-bar
        (remove)="remove.emit()"
        (addRepeater)="_addGroup()"
        (addField)="_addCondition()"
      ></app-buttons-bar>

      <app-field-form
        [formControlName]="'conditions'"
        [formLabel]="'Condition '">
      </app-field-form>

      <ng-container formArrayName="fields">
        <app-group-control
          *ngFor="let s of _fieldsFormArray?.controls; index as i"
          (remove)="_deleteGroupFromArray(i)"
          [formControlName]="i"
          [formLabel]="'Nested Group '+ (i + 1) + ':'">
        </app-group-control>
      </ng-container>

    </div>
  </fieldset>
</form>


