<form [formGroup]="form">
  <fieldset>
    <legend>{{formLabel}} ({{type}})</legend>

      <div class="cf-controls">
        <button *ngIf="type === 'repeater'" class="cf-btn sucs" (click)="addField()">Add field</button>
        <button class="cf-btn err" (click)="remove.emit()">Remove field</button>
      </div>

      <app-field-form [formControlName]="'conditions'"></app-field-form>

      <ng-container formArrayName="fields">
        <app-group-control
          *ngFor="let control of fieldsFormArray?.controls; index as i"
          (remove)="deleteFieldFromArray(i)"
          [formControlName]="i"
          [formLabel]="'Nested Field '+ (i + 1) + ':'"
        ></app-group-control>
      </ng-container>

  </fieldset>
</form>


