<div class="page-controls">
  <button
    [disabled]="!savedValues"
    mat-stroked-button
    (click)="fillForm()"
    [title]="savedValues ? 'Fill form from saved data' : 'No saved values'"
    color="primary"
  ><mat-icon>ballot</mat-icon>Fill form
  </button>
</div>

<h3 *ngIf="!savedFields">No saved custom fields</h3>

<cf-custom-values-form
  *ngIf="savedFields"
  [customFields]="savedFields"
  [values]="formValues"
  (submitHandle)="saveValues($event)"
  (onImageSelect)="addImage($event)"
></cf-custom-values-form>

