:host {
  margin-top: 3px;
  transition: all var(--transition-time);
}

div {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  * {
    color: var(--error-color);
  }
  span {
    display: inline-block;
    margin-right: 5px;
  }
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  li {
    word-wrap: anywhere;
    color: var(--cf-err-color);
  }
  li:not(:last-child):not(:first-child):after {
    content: ',';
  }
  li:not(:last-child) {
    margin-right: 5px;
  }
  li:first-child:first-letter {
    text-transform: capitalize;
  }
}


