@import "~src/app/custom-fields/styles/accordion";

.cf-wrapper {
  display: flex;
  justify-content: space-between;
  .fields-form {
    width: 100%;
    transition: width .1s;
  }
  .fields-json {
    width: 0;
    font-size: 11px;
    line-height: 1.1em;
    transition: width .1s;
  }
  &.show-json {
    .fields-form {
      width: 60%;
    }
    .fields-json {
      width: 40%;
    }
  }
}

