<div class="cf-wrapper" [ngClass]="{'show-json': view.jsonVisible$ | async}">

  <form [formGroup]="form" class="cf-form cf-root-form">
    <fieldset>
      <legend><mat-icon>extension</mat-icon>Custom Fields Form</legend>

      <div class="cf-controls">
        <cf-toggle-button></cf-toggle-button>
        <cf-buttons-bar
          [showArrayControls]="fieldsFormArray.length > 0"
          (addField)="addField()"
          (clearArray)="initForm()"
          (reorderArray)="toggleReorder()"
          [reorderDisabled]="reorderDisabled"
          (toggleExpanded)="toggleAccordion($event)"
          [expanded]="expanded"
        ></cf-buttons-bar>
      </div>

      <mat-accordion
        #accordion="matAccordion"
        formArrayName="fields"
        togglePosition="before"
        [multi]="true"
        class="cf-accordion"
        cdkDropList
        (cdkDropListDropped)="reorderFields($event)"
        [cdkDropListDisabled]="reorderDisabled">
        <mat-expansion-panel
          *ngFor="let control of fieldsFormArray?.controls; index as i"
          [expanded]="expanded"
          cdkDrag>
          <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'50px'">
            <mat-panel-title>
              <cf-field-title
                [index]="i"
                [value]="control.value"
                [dragDisabled]="reorderDisabled"
              ></cf-field-title>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <cf-fields-group-control
            [formControlName]="i"
            [formLabel]="'Field '+ (i + 1)"
            (remove)="deleteField(i)"
          ></cf-fields-group-control>
        </mat-expansion-panel>
      </mat-accordion>

      <cf-submit-button
        (submitHandler)="submit()"
        (cancelHandler)="cancelHandler.emit()"
        [showCancel]="cancelHandler.observers.length > 0"
        [disabled]="form.invalid || fieldsFormArray.value.length === 0"
      >Submit</cf-submit-button>

    </fieldset>
  </form>

  <div *ngIf="view.jsonVisible$ | async" class="cf-json">
    <fieldset>
      <legend><mat-icon>code</mat-icon>Json view</legend>
        <pre>{{form.value | json}}</pre>
      </fieldset>
  </div>

</div>



