<div class="form">
  <div class="controls">
    <app-buttons-bar
      (addField)="addGroup($event)"
      (remove)="createForm()"
    ></app-buttons-bar>

  </div>
  <form *ngIf="form" [formGroup]="form">
    <ng-container formArrayName="fields">
      <ng-container *ngFor="let group of fieldsFormArray?.controls; index as i">
        <app-group-control
          [formControlName]="i"
          [formLabel]="'Field '+ (i + 1) + ':'"
          (remove)="delete(i)"
        ></app-group-control>
      </ng-container>
    </ng-container>
  </form>

</div>
<div class="pre">
  <pre>{{form.value | json}}</pre>
</div>
