<form [formGroup]="form" class="cf-form" [ngClass]="{'repeater': type === 'repeater'}" >
  <fieldset>
    <legend>
      <span>{{type | fieldName}}</span>
      <span *ngIf="fieldsFormArray.length">({{fieldsFormArray.length}} fields)</span>
    </legend>

      <cf-buttons-bar
        (removeField)="remove.emit()"
      ></cf-buttons-bar>

      <cf-field-form
        [formControlName]="'conditions'"
      ></cf-field-form>

      <cf-buttons-bar
        [showAdd]="type === 'repeater'"
        (addField)="addField()"
        [showArrayControls]="fieldsFormArray.length > 0"
        (closeAll)="accordion.closeAll()"
        (openAll)="accordion.openAll()"
        (clearArray)="clearFieldsArray()"
        (reorderArray)="toggleReorder()"
        [reorderDisabled]="reorderDisabled"
        style="margin-bottom: 10px"
      ></cf-buttons-bar>

      <mat-accordion
        #accordion="matAccordion"
        formArrayName="fields"
        [multi]="true"
        cdkDropList
        (cdkDropListDropped)="reorderFields($event)"
        [cdkDropListDisabled]="reorderDisabled">
        <mat-expansion-panel
          *ngFor="let control of fieldsFormArray?.controls; index as i"
          [expanded]="true"
          togglePosition="before"
          cdkDrag>
          <mat-expansion-panel-header [collapsedHeight]="'40px'" [expandedHeight]="'50px'">
            <mat-panel-title>
              <cf-field-title
                [number]="i + 1"
                [value]="control.value"
                [dragDisabled]="reorderDisabled"
              ></cf-field-title>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <cf-fields-group-control
            (remove)="deleteFieldFromArray(i)"
            [formControlName]="i"
            [formLabel]="'Nested Field '+ (i + 1) + ':'"
          ></cf-fields-group-control>
        </mat-expansion-panel>
      </mat-accordion>

      <cf-buttons-bar
        *ngIf="fieldsFormArray.value.length > 0"
        (addField)="addField()"
        [showArrayControls]="fieldsFormArray.length > 0"
        (closeAll)="accordion.closeAll()"
        (openAll)="accordion.openAll()"
        style="margin-top: 10px"
      ></cf-buttons-bar>

  </fieldset>
</form>


