@import "./app/custom-fields/styles/styles.scss";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 20px;
  * {
    box-sizing: border-box;
  }
}

.page-controls {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 40px;
  z-index: 20;
  margin-bottom: 15px;
  button {
    margin-left: 15px;
  }
}
