<form [formGroup]="form" class="cf-form">
  <table>
    <caption>Field properties</caption>
      <tr>
        <td>
          <p class="title required">Field type</p>
          <p class="subtitle">Type (input, image, repeater etc.)</p>
        </td>
        <td>
          <select name="type" (change)="typeChanged($event)">
            <option *ngFor="let item of fieldTypes" [value]="item.type">{{item.displayName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <p class="title required">Field Label</p>
          <p class="subtitle">This is the name which will appear on the EDIT page</p>
        </td>
        <td>
          <input type="text" formControlName="label" required>
        </td>
      </tr>
      <tr>
        <td>
          <p class="title required">Field Name</p>
          <p class="subtitle">Single word, no spaces. Underscores and dashes allowed</p>
        </td>
        <td>
          <input type="text" formControlName="name" required>
        </td>
      </tr>
    </table>
  <table formGroupName="options" class="attributes">
    <caption>Field attributes</caption>
    <tr *ngIf="showOptionControl('value')">
      <td>
        <p class="title">Default Value</p>
        <p class="subtitle">Appears when creating a new item</p>
      </td>
      <td>
        <input *ngIf="type.value === 'text' || type.value === 'textarea'" type="text" formControlName="value">
        <input *ngIf="type.value === 'number'" type="number" formControlName="value">
        <input *ngIf="type.value === 'checkbox'" type="checkbox" formControlName="value">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('accordionItemName')">
      <td>
        <p class="title">Accordion item name</p>
        <p class="subtitle">Appears when creating a new item</p>
      </td>
      <td>
        <input type="text" formControlName="accordionItemName">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('required')">
      <td>
        <p class="title">Required?</p>
        <p class="subtitle">Field required attribute</p>
      </td>
      <td>
        <input type="checkbox" formControlName="required">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('minLength')">
      <td>
        <p class="title">Min length</p>
        <p class="subtitle">Field min length attribute</p>
      </td>
      <td>
        <input type="number" formControlName="minLength" min="1" step="1" max="255">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('maxLength')">
      <td>
        <p class="title">Max length</p>
        <p class="subtitle">Field max length attribute</p>
      </td>
      <td>
        <input type="number" formControlName="maxLength" min="1" step="1" max="255">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('min')">
      <td>
        <p class="title">Min</p>
        <p class="subtitle">Number input min attribute</p>
      </td>
      <td>
        <input type="number" formControlName="min">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('max')">
      <td>
        <p class="title">Max</p>
        <p class="subtitle">Number input max attribute</p>
      </td>
      <td>
        <input type="number" formControlName="max">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('step')">
      <td>
        <p class="title">Step</p>
        <p class="subtitle">Number input step attribute</p>
      </td>
      <td>
        <input type="number" formControlName="step">
      </td>
    </tr>
    <tr *ngIf="showOptionControl('rows')">
      <td>
        <p class="title">Rows</p>
        <p class="subtitle">Textarea rows attribute</p>
      </td>
      <td>
        <input type="number" formControlName="rows" min="1" max="20" step="1">
      </td>
    </tr>
  </table>
</form>
