:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    margin-right: 10px;
    color: white;
  }
}
.number {
  width: 23px;
  height: 23px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1em;
  margin-right: 15px;
}
.right {
  margin-left: auto;
  display: flex;
  align-items: center;
  mat-icon {
    margin-left: 5px;
  }
}
