:host {
  width: 100%;
  display: flex;
  align-items: center;
}
.number {
  width: 23px;
  height: 23px;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1em;
  margin-right: 15px;
}
.name {
  color: white;
}
.controls {
  margin-left: auto;
}
